<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Menu principal</title>
</head>
<body>
    <h1>Bienvenue dans ton RPG !</h1>
    <h2>Menu principal</h2>

    <ul>
        <li><a href="{{ path('game_start') }}">1 - Commencer l’aventure</a></li>
        <li><a href="#">2 - Voir les statistiques du joueur (à implémenter)</a></li>
        <li><a href="#">3 - Quitter le jeu</a></li>
    </ul>
</body>
</html>
